<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Client</th>
    <th>Client Phone</th>
    <th>Delivery Address</th>
    <th>Product</th>
  </tr>

  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.client %></td>
        <td><%= transaction.client_phone %></td>
        <td><%= transaction.delivery_address %></td>
        <td><%= transaction.product %></td>
        <td><%= link_to 'Show', transaction_path(transaction) %></td>
      </tr>
  <% end %>
</table>