<h1>New Transaction</h1>


<%= form_for :transaction, url: transactions_path do |f| %>
    <p>
      <!--
      TODO: use nice data picker
      -->
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </p>
    <p>
      <!-- TODO create possibility to add clients and choose few clients for one transaction -->
      <%= f.label :client %>
      <%= f.text_field :client %>
    </p>
    <p>
      <%= f.label :client_phone %>
      <%= f.text_field :client_phone %>
    </p>
    <p>
      <!--TODO: search from other addresses and show price to near address-->
      <%= f.label :delivery_address %>
      <%= f.text_field :delivery_address %>
    </p>
    <p>
      <%= f.label :product %>
      <%= f.text_field :product %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>