<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @transaction.client_phone %>
</p>
<p>
  <strong>Client:</strong>
  <%= @transaction.client %>
</p>
<p>
  <strong>Delivery address:</strong>
  <%= @transaction.delivery_address %>
</p>
<p>
  <strong>Product:</strong>
  <%= @transaction.product %>
</p>
